@import "./variables";

/* Contact */

.contact-form {
    @include background-settings;
    background-image: url(../images/background1.jpg);
    padding-bottom: 50px;

    .contact-title {
        @include title
    }

    .contact-info {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .contact-info-element {
            background-color: $main-color;
            padding: 10px 30px 10px 30px;
            min-width: 300px;
            border-radius: 20px;
            margin-bottom: 30px;

            h2 {
                font-size: 35px;

                @media only screen and (max-width: 400px) {
                    font-size: 25px;
                }
            }

            h3 {
                font-size: 15px;

                @media only screen and (max-width: 400px) {
                    font-size: 10px;
                }
            }

            @media only screen and (max-width: 400px) {
                padding: 10px 10px;
                min-width: 250px;
            }
        }
    }

    form {
        margin: auto;
        max-width: 60%;
        overflow: hidden;

        .contact-form-text {
            display: block;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
            box-sizing: border-box;
            /*Adjusts border of the box*/
            font-family: Arial, Helvetica, sans-serif;
        }

        textarea {
            resize: none;
        }

        .contact-form-send {
            display: flex;

            input {
                margin-bottom: 20px;
                border-radius: 5px;
                padding: 10px;
                background-color: $main-color;
                font-size: larger;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                transition: stretch 1s ease-in;

                &:hover {
                    @include button-animation;
                    cursor: pointer;
                }
            }
        }

        @media only screen and (max-width: 700px) {
            max-width: 80%;
        }
    }
}

@keyframes stretch {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}