@import "./variables";

/* Schedule Table */

.schedule {
    @include background-settings;
    background-image: url(../images/background6.jpg);

    .schedule-title {
        @include title
    }

    .schedule-table {
        overflow: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        border-collapse: collapse;
        width: 80%;
        border-radius: 20px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        text-align: start;

        @media only screen and (max-width: 500px) {
            font-size: small;
            color: black;
            font-weight: 600;
        }

        thead tr {
            background-color: rgb(209, 209, 209);
            text-align: left;
            font-weight: bold;
        }

        th {
            padding: 10px;
        }

        td {
            padding: 10px;
        }

        tbody tr {
            background-color: rgb(255, 255, 255, 0.7);
            border-bottom: 1px solid rgb(0, 0, 0);
            transition: 0.2s;

            &:hover {
                background-color: rgb(153, 153, 153);
                cursor: default;
            }
        }

        ul {
            list-style: none;
            padding-left: 0px;
        }

        tbody #schedule-table-end {
            border-bottom: 20px solid rgb(209, 209, 209);
        }
    }

    @media only screen and (max-width:500px) {
        overflow: scroll;
    }
}