@import "./variables";

.sitemap {
    @include background-settings;
    background-image: url(../images/background8.jpg);
    .sitemap-title {
        @include title;
    }
    .sitemap-list {
        margin: 40px;
        background-color: $main-color;
        padding: 25px;
        border-radius: 20px;
    }
}