*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Navbar */

.navbar {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1px;
}

.navbar-logo img{
    max-height: 100px;
    padding-left: 10px;
}

.navbar-logo img:hover{
    transform: scale(1.1);
}

.navbar-links ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-family: 'DO Futuristic', sans-serif;
    color: black;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgb(235, 235, 235);
    transform:scale(1.1)
}

/* Index Banner */

.banner {
    position: relative;
    display: flex;
}

.banner:hover {
    cursor: default;
}

.banner-background {
    width: 100%;
    display: grid;
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
    opacity: 0.8;
}

.banner-background img {
    width: 100%;
    max-height: 600px;
    min-height: 500px;
    object-fit: cover;
    opacity: 0.5;
}

.banner-text {
    position: absolute;
    width: 100%;
    display: flexbox;
    align-self: center;
}

.banner-text h1 {
    margin: 0cm;
    font-size: 100px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.banner-text span{
    background-color: rgb(235, 235, 235, 0.8);  
    padding: 10px;
    border-radius: 10px;
}

.banner-text h2 {
    margin-bottom: 30px;
    display: block;
    text-align: center;
}

.banner-text-info {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.banner-text-info-child {
    background-color: rgb(235, 235, 235, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    box-shadow: 5px 5px;
}

.banner-text-description{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-text-description-background {
    display: flex;
    background-color: rgb(235, 235, 235, 0.6);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}

/* Index Info */

.info {
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    justify-items: center;
    grid-gap: 20px;
    background-image: linear-gradient(rgb(0,0,0,0.8), rgb(255,255,255,0.6), rgb(0,0,0,0.8));
    padding-bottom: 30px;
}

.info-block {
    width: 100%;
    display: grid;
    justify-content: center;
    border-radius: 50px;
}

.info-block img {
    border-radius: 50px;
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.info-block-text {
    display: grid;
    position: absolute;
    align-self: center;
    justify-self: center;
}

/* Footer */

.footer {
    padding-top: 30px;
    background-color: gainsboro;
    position: absolute;
    width: 100%;
}

.footer-socials{
    width: 100%;
    text-align: center;
}

.footer-socials a{
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: larger;
    padding: 10px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    border-style: groove;
    border-radius: 50%;
}

.footer-socials a:hover{
    transform: scale(1.2);
    background-color: aliceblue;
}

.footer-list {
    text-align: center;
}

.footer-list li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    display: inline-block;
    list-style: none;
}

.footer-list a{
    text-decoration: none;
    color: black;
}

.footer-list li:hover{
    transform: scale(1.1);
    background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 600px) {
    .banner-text h1 {
        font-size: 50px;
    }
}

/* About Us Articles*/

.aboutus {
    padding: 20px 0;
    background-image: url(../images/background7.jpg);
    background-position: center;
    background-attachment: fixed;
}

.aboutus-title {
    border-radius: 20px;
    background-color: rgb(235, 235, 235, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.aboutus-title h1 {
    padding: 20px;
    margin-bottom: 40px;
}

.aboutus-container {
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);
    margin: 50px 0px;

}

.article1 {
    margin: 20px 10px 0px 10px;
    display: grid;
    grid-template-areas: 
    "image head"
    "image text"
    "image text";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.article2 {
    margin: 20px 10px 0px 10px;
    display: grid;
    grid-template-areas: 
    "head image"
    "text image"
    "text image";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.article-header {
    display: grid;
    grid-area: head;
    align-items: flex-end;
}

.article-text {
    display: grid;
    grid-area: text;
}

.article-image {
    border-radius: 10px;
    display: grid;
    grid-area: image;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .article1 {
        margin: 20px 10px 0px 10px;
        display: grid;
        grid-template-areas: 
        "head head"
        "image image"
        "text text";
        grid-template-rows: 1fr 4fr 2fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
    }

    .article2 {
        margin: 20px 10px 0px 10px;
        display: grid;
        grid-template-areas: 
        "head head"
        "image image"
        "text text";
        grid-template-rows: 1fr 4fr 2fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
    }
}

/* Main Speakers */

.main-speakers-h1 h1 {
    text-align: center;
}

.main-speakers-h1 {
    background-color: rgb(235, 235, 235, 0.8);
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.main-speakers {
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
}

.main-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-speaker-photos {
    background-color: white;
    display: grid;
    align-items: center;
    border-radius: 20%;
}

.main-speaker-photos img {
    width: 100%;
    border-radius: 20%;
    z-index: 1;
}

.main-speaker-photos h3 {
    text-align: center;
    position: absolute;
    justify-self: center;
    font-size: 25px;
    opacity: 0;
}

.main-speaker-photos:hover > img{
    opacity: 0.2;
}

.main-speaker-photos:hover > h3 {
    opacity: 1;
}

.main-speaker-photos:hover {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(255, 255, 255, 0.3));
}

@media only screen and (max-width:800px) {
    .main-speakers-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: center;
    }
}

@media only screen and (max-width:500px) {
    .main-speakers-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: center;
    }
}

/* Other Speakers */

.other-speakers-h1 {
    background-color: rgb(235, 235, 235, 0.8);
    width: fit-content;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

.other-speakers-h1 h1 {
    text-align: center;
}

.speakers {
    background-image: url(../images/background5.jpg);
    background-position: center;
    background-attachment: fixed;
}

.other-speakers {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
}

.other-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.other-speaker-photos {
    background-color: white;
    display: grid;
    align-items: center;
    border-radius: 20%;
}

.other-speaker-photos img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    z-index: 1;
}

.other-speaker-photos h3 {
    text-align: center;
    position: absolute;
    justify-self: center;
    font-size: 20px;
    opacity: 0;
}

.other-speaker-photos:hover > img{
    opacity: 0.2;
}

.other-speaker-photos:hover > h3 {
    opacity: 1;
}

.other-speaker-photos:hover {
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(255, 255, 255, 0.3));
}

@media only screen and (max-width:800px) {
    .other-speakers-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: center;
    }

    .other-speaker-photos h3 {
        text-align: center;
        position: absolute;
        justify-self: center;
        font-size: 20px;
        opacity: 0;
    }
}

@media only screen and (max-width:500px) {
    .other-speakers {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-content: center;
    }

    .other-speakers-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: center;
    }

    .other-speaker-photos h3 {
        text-align: center;
        position: absolute;
        justify-self: center;
        font-size: 20px;
        opacity: 0;
    }
}

/* Schedule Table */

.schedule {
    padding: 20px 0px;
    background-image: url(../images/background6.jpg);
    background-position: center;
    background-attachment: fixed;
}

.schedule-h1 {
    background-color: rgb(235, 235, 235, 0.8);
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.schedule-h1 h1 {
    text-align: center;
    padding: 20px;
}

.schedule-table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.schedule-table thead tr {
    background-color: rgb(209, 209, 209);
    text-align: left;
    font-weight: bold;
}

.schedule-table th {
    padding: 10px;
}

.schedule-table td {
    padding: 10px;
}

.schedule-table tbody tr {
    background-color: rgb(255, 255, 255, 0.7);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.schedule-table ul {
    list-style: none;
    padding-left: 0px;
}

.schedule-table {
    text-align: start;
}

.schedule-table tbody #schedule-table-end {
    border-bottom: 20px solid rgb(209, 209, 209);
}

.schedule-table tbody tr:hover {
    background-color: rgb(153, 153, 153);
    cursor: default;
}

/* Venue */

.venue {
    padding: 20px 0px 40px 0px;
    background-image: url(../images/background4.jpg);
    background-position: center;
    background-attachment: fixed;
}

.venue-h1 {
    background-color: rgb(235, 235, 235, 0.8);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

.venue-h1 h1 {
    padding: 20px;
}

.venue-text {
    text-align: center;
}

.venue-photos {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 20px 0px;
}

.photos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photos-hotel {
    display: flex;
    padding-bottom: 20px;
}

.photos-hotel img {
    object-fit:cover;  
    max-height: 300px;
}

.venue-map {
    padding: 20px 0px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255, 0.9);
}

.map {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.map iframe {
    display: flex;
    width:50%;
}

@media only screen and (max-width:800px) {
    .map iframe {
        display: flex;
        width:80%;
    }
}

/* Sponsors */

.sponsor-container {
    padding: 20px 0px;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-attachment: fixed;
}


.sponsor-h1 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: fit-content;
    text-align: center;
    background-color: rgb(235, 235, 235, 0.8);
}

.sponsor-h1 h1 {
    padding: 20px;
}

.sponsors {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    justify-content: center;
    grid-row-gap: 30px;
}

.sponsors-logos {
    display: grid;
    justify-items: center;
}

.sponsors-logos img {
    width: 250px;
    border-radius: 50px;
}

.sponsors-logos:hover > img{
    width: 250px;
    border-radius: 50px;
    opacity: 0.8;
}

/* Contact */

.contact-form {
    background-image: url(../images/background1.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 30px 0px 50px 0px;
}

.contact-form-h1 {  
    background-color: rgb(235, 235, 235, 0.8);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.contact-info {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.contact-info-element {
    background-color: rgb(235, 235, 235, 0.8);
    padding: 10px 30px 10px 30px;
    min-width: 300px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.contact-form-h1 h1{
    text-align: center;
    padding: 20px;
}

.contact-form form {
    margin: auto;
    max-width: 800px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; /*Adjusts border of the box*/
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form textarea{
    resize: none;
}

.contact-form-send {
    display: flex;
}

.contact-form-send input {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(235, 235, 235, 0.8); 
    font-size: larger;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-send input:hover {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(235, 235, 235, 0.8); 
    font-size: larger;
    transform: scale(1.1);
}

/* Register */

.register-form {
    background-image: url(../images/background3.jpg);
    padding: 20px 0px 40px 0px;
    background-position: center;
}

.register-form-h1 {
    background-color: rgb(235, 235, 235, 0.8);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.register-form-h1 h1 {
    padding: 20px;
    text-align: center;
}

.register-form form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.register-form-text {
    display: block;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.register-form-register {
    display: flex;
}

.register-form-register input {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(235, 235, 235, 0.8); 
    font-size: larger;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.register-form-register input:hover {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(235, 235, 235, 0.8); 
    font-size: larger;
    transform: scale(1.1);
}