/* Index Banner */
.banner {
  position: relative;
  display: flex;
}
.banner:hover {
  cursor: default;
}
.banner .banner-background {
  width: 100%;
  display: grid;
  height: fit-content;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
  opacity: 0.8;
}
.banner .banner-background img {
  width: 100%;
  min-height: 700px;
  object-fit: cover;
  opacity: 0.5;
}
.banner .banner-text {
  position: absolute;
  width: 100%;
  align-self: center;
}
.banner .banner-text h1 {
  margin-bottom: 40px;
  font-size: 10vw;
  display: block;
  text-align: center;
  font-weight: bold;
}
.banner .banner-text span {
  background-color: rgba(235, 235, 235, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.banner .banner-text h4 {
  font-size: 1.75vw;
}
@media only screen and (max-width: 700px) {
  .banner .banner-text h4 {
    font-size: 3vw;
  }
}
.banner .banner-text h2 {
  margin-bottom: 30px;
  font-size: 2.5vw;
  display: block;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .banner .banner-text h2 {
    margin-bottom: 30px;
    font-size: 4vw;
    display: block;
    text-align: center;
  }
}
.banner .banner-text .banner-text-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.banner .banner-text .banner-text-info .banner-text-info-child {
  background-color: rgba(235, 235, 235, 0.8);
  padding: 20px;
  margin-bottom: 20px;
  display: inline-flex;
  box-shadow: 5px 5px;
}
.banner .banner-text .banner-text-description {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner .banner-text .banner-text-description .banner-text-description-background {
  display: flex;
  background-color: rgba(235, 235, 235, 0.6);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

/* Index Info */
.info {
  padding-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.8));
  padding-bottom: 30px;
}
.info .info-block {
  width: fit-content;
  display: grid;
  justify-content: center;
  border-radius: 50px;
  background-color: black;
}
.info .info-block img {
  border-radius: 50px;
  width: 40vw;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
@media only screen and (max-width: 700px) {
  .info .info-block img {
    border-radius: 50px;
    width: 70vw;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
  }
}
.info .info-block .info-block-text {
  display: grid;
  position: absolute;
  align-self: center;
  justify-self: center;
  color: white;
}
.info .info-block .info-block-text h1 {
  text-align: center;
  font-size: 10vw;
}
@media only screen and (max-width: 700px) {
  .info .info-block .info-block-text h1 {
    text-align: center;
    font-size: 15vw;
  }
}
.info .info-block .info-block-text h2 {
  text-align: center;
  font-size: 2vw;
}
@media only screen and (max-width: 700px) {
  .info .info-block .info-block-text h2 {
    text-align: center;
    font-size: 4vw;
  }
}
@media only screen and (max-width: 700px) {
  .info {
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-gap: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.8));
    padding-bottom: 30px;
  }
}

/* About Us Articles*/
.aboutus {
  padding: 20px 0;
  background-image: url(../images/background7.jpg);
  background-position: center;
  background-attachment: fixed;
}
.aboutus .aboutus-title {
  border-radius: 20px;
  background-color: rgba(235, 235, 235, 0.8);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.aboutus .aboutus-title h1 {
  padding: 20px;
  margin-bottom: 40px;
}
.aboutus .aboutus-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 50px 0px;
}
.aboutus .aboutus-container .article1 {
  margin: 20px 10px 0px 10px;
  display: grid;
  grid-template-areas: "image head" "image text" "image text";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.aboutus .aboutus-container .article1 .article-header {
  display: grid;
  grid-area: head;
  align-items: flex-end;
}
.aboutus .aboutus-container .article1 .article-text {
  display: grid;
  grid-area: text;
}
.aboutus .aboutus-container .article1 .article-image {
  border-radius: 10px;
  display: grid;
  grid-area: image;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .aboutus .aboutus-container .article1 {
    margin: 20px 10px 0px 10px;
    display: grid;
    grid-template-areas: "head head" "image image" "text text";
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }
}
.aboutus .aboutus-container .article2 {
  margin: 20px 10px 0px 10px;
  display: grid;
  grid-template-areas: "head image" "text image" "text image";
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}
.aboutus .aboutus-container .article2 .article-header {
  display: grid;
  grid-area: head;
  align-items: flex-end;
}
.aboutus .aboutus-container .article2 .article-text {
  display: grid;
  grid-area: text;
}
.aboutus .aboutus-container .article2 .article-image {
  border-radius: 10px;
  display: grid;
  grid-area: image;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .aboutus .aboutus-container .article2 {
    margin: 20px 10px 0px 10px;
    display: grid;
    grid-template-areas: "head head" "image image" "text text";
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }
}

.speakers {
  background-image: url(../images/background5.jpg);
  background-position: center;
  background-attachment: fixed;
  /* Main Speakers */
}
.speakers .main-speakers {
  padding-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
}
.speakers .main-speakers .main-speakers-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos {
  background-color: white;
  display: grid;
  align-items: center;
  border-radius: 20%;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos img {
  width: 100%;
  border-radius: 20%;
  z-index: 1;
  transition: 0.5s;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos h3 {
  text-align: center;
  position: absolute;
  justify-self: center;
  font-size: 25px;
  opacity: 0;
  transition: 0.5s;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos:hover > img {
  opacity: 0.2;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos:hover > h3 {
  opacity: 1;
}
.speakers .main-speakers .main-speakers-container .main-speaker-photos:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
}
@media only screen and (max-width: 800px) {
  .speakers .main-speakers .main-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .speakers .main-speakers .main-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
  }
}
.speakers .other-speakers {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
}
.speakers .other-speakers .other-speakers-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos {
  background-color: white;
  display: grid;
  align-items: center;
  border-radius: 20%;
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  z-index: 1;
  transition: 0.5s;
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos h3 {
  text-align: center;
  position: absolute;
  justify-self: center;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s;
}
@media only screen and (max-width: 800px) {
  .speakers .other-speakers .other-speakers-container .other-speaker-photos h3 {
    text-align: center;
    position: absolute;
    justify-self: center;
    font-size: 20px;
    opacity: 0;
  }
}
@media only screen and (max-width: 500px) {
  .speakers .other-speakers .other-speakers-container .other-speaker-photos h3 {
    text-align: center;
    position: absolute;
    justify-self: center;
    font-size: 20px;
    opacity: 0;
  }
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos:hover > img {
  opacity: 0.2;
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos:hover > h3 {
  opacity: 1;
}
.speakers .other-speakers .other-speakers-container .other-speaker-photos:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
}
@media only screen and (max-width: 800px) {
  .speakers .other-speakers .other-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 650px) {
  .speakers .other-speakers .other-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .speakers .other-speakers .other-speakers-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .speakers .other-speakers {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
  }
}

/* Schedule Table */
.schedule {
  padding: 20px 0px;
  background-image: url(../images/background6.jpg);
  background-position: center;
  background-attachment: fixed;
}
.schedule .schedule-table {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}
.schedule .schedule-table thead tr {
  background-color: rgb(209, 209, 209);
  text-align: left;
  font-weight: bold;
}
.schedule .schedule-table th {
  padding: 10px;
}
.schedule .schedule-table td {
  padding: 10px;
}
.schedule .schedule-table tbody tr {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgb(0, 0, 0);
  transition: 0.2s;
}
.schedule .schedule-table tbody tr:hover {
  background-color: rgb(153, 153, 153);
  cursor: default;
}
.schedule .schedule-table ul {
  list-style: none;
  padding-left: 0px;
}
.schedule .schedule-table tbody #schedule-table-end {
  border-bottom: 20px solid rgb(209, 209, 209);
}

/* Venue */
.venue {
  padding: 20px 0px 40px 0px;
  background-image: url(../images/background4.jpg);
  background-position: center;
  background-attachment: fixed;
}
.venue .venue-text {
  text-align: center;
}
.venue .venue-photos {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0px;
}
.venue .venue-photos .photos {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.venue .venue-photos .photos-hotel {
  display: flex;
  padding-bottom: 20px;
}
.venue .venue-photos .photos-hotel img {
  object-fit: cover;
  max-height: 300px;
}
.venue .venue-map {
  padding: 20px 0px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}
.venue .venue-map .map {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.venue .venue-map .map iframe {
  display: flex;
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .venue .venue-map .map iframe {
    display: flex;
    width: 80%;
  }
}

/* Sponsors */
.sponsor-container {
  padding: 20px 0px;
  background-image: url(../images/background2.jpg);
  background-position: center;
  background-attachment: fixed;
}
.sponsor-container .sponsors {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  justify-content: center;
  grid-row-gap: 30px;
}
.sponsor-container .sponsors .sponsors-logos {
  display: grid;
  justify-items: center;
}
.sponsor-container .sponsors .sponsors-logos .sponsors-logos-image {
  width: fit-content;
  background-color: rgb(128, 128, 128);
  border-radius: 50px;
}
.sponsor-container .sponsors .sponsors-logos .sponsors-logos-image img {
  width: 250px;
  border-radius: 50px;
  transition: 0.5s;
}
.sponsor-container .sponsors .sponsors-logos .sponsors-logos-image img:hover {
  width: 250px;
  border-radius: 50px;
  opacity: 0.8;
}

/* Contact */
.contact-form {
  background-image: url(../images/background1.jpg);
  background-position: center;
  background-attachment: fixed;
  padding: 20px 0px 50px 0px;
}
.contact-form .contact-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact-form .contact-info .contact-info-element {
  background-color: rgba(235, 235, 235, 0.8);
  padding: 10px 30px 10px 30px;
  min-width: 300px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.contact-form .contact-info .contact-info-element h2 {
  font-size: 35px;
}
.contact-form .contact-info .contact-info-element h3 {
  font-size: 15px;
}
.contact-form form {
  margin: auto;
  max-width: 60%;
  overflow: hidden;
}
.contact-form form .contact-form-text {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; /*Adjusts border of the box*/
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form form textarea {
  resize: none;
}
.contact-form form .contact-form-send {
  display: flex;
}
.contact-form form .contact-form-send input {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: larger;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: stretch 1s ease-in;
}
.contact-form form .contact-form-send input:hover {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: larger;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@media only screen and (max-width: 700px) {
  .contact-form form {
    margin: auto;
    max-width: 80%;
    overflow: hidden;
  }
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.register-form {
  background-image: url(../images/background3.jpg);
  padding: 20px 0px 40px 0px;
  background-position: center;
}
.register-form form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  .register-form form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}
.register-form .register-form-text {
  display: block;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.register-form .register-form-register {
  display: flex;
}
.register-form .register-form-register input {
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: larger;
  margin-left: auto;
  margin-right: auto;
}
.register-form .register-form-register input:hover {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: larger;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.title {
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.8);
  border-radius: 20px;
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar */
.navbar-brand img {
  max-width: 100px;
  transition: 0.5s;
}
.navbar-brand img:hover {
  transform: scale(1.1);
}

.nav-item {
  margin-left: 10px;
}

/* Footer */
.footer {
  padding-top: 30px;
  background-color: gainsboro;
  position: absolute;
  width: 100%;
}
.footer .footer-socials {
  width: 100%;
  text-align: center;
}
.footer .footer-socials a {
  background-color: lightgrey;
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: larger;
  padding: 10px;
  font-size: large;
  text-align: center;
  text-decoration: none;
  border-style: groove;
  border-radius: 50%;
  transition: 0.5s;
}
.footer .footer-socials a:hover {
  transform: scale(1.2);
  background-color: aliceblue;
}
.footer .footer-list {
  text-align: center;
}
.footer .footer-list li {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  display: inline-block;
  list-style: none;
  transition: 0.5s;
}
.footer .footer-list li:hover {
  transform: scale(1.1);
  background-color: rgb(235, 235, 235);
}
.footer .footer-list a {
  text-decoration: none;
  color: black;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
